<Config>
    <Receiver>
        <startFreq>3700000</startFreq>
        <lastSelectedFreq>3639900</lastSelectedFreq>
        <volume>1.178</volume>
    </Receiver>
    <Waterfall>
        <min>-99.120461</min>
        <max>-44.046997</max>
    </Waterfall>
    <Spectre>
        <ratio>-21.834</ratio>
        <min>-102.2089</min>
        <speed>25</speed>
    </Spectre>
</Config>
