<Config>
    <App>
        <windowWidth>2560</windowWidth>
        <windowHeight>1351</windowHeight>
    </App>
    <Device>
        <!-- 
		Device codes
		0: RSP1/RSP1A
		1: hackrf
		2: rtlsdr
		-->
        <type>0</type>
        <decimation>1</decimation>
        <RSP>
            <!-- Total sampling rate = (deviceSamplingRate / deviceDecimationFactor) / decimation
             Example:
            	deviceSamplingRate = 2000000
            	deviceDecimationFactor = 2
            	decimation = 2
            	Total sampling rate = (2000000 / 2) / 2 = 500000 
			-->
            <deviceSamplingRate>4000000</deviceSamplingRate>
            <deviceDecimationFactor>1</deviceDecimationFactor>
            <gain>53</gain>
            <!-- Api can be 2 (v2) and 3 (v3)-->
            <api>3</api>
            <disableLna>1</disableLna>
        </RSP>
        <HackRF>
            <!-- App sampling rate will be: deviceSamplingRate / decimation -->
            <deviceSamplingRate>4000000</deviceSamplingRate>
            <basebandFilter>1750000</basebandFilter>
            <rxAmp>0</rxAmp>
            <!-- 0 1 2 3 4-->
            <lnaGain>2</lnaGain>
            <!-- 0 .. 30 -->
            <vgaGain>10</vgaGain>
            <!-- 0 .. 40 step 2-->
            <txAmp>20</txAmp>
        </HackRF>
        <RTL>
            <deviceSamplingRate>3200000</deviceSamplingRate>
            <gain>-10</gain>
        </RTL>
    </Device>
    <Receiver>
        <startFreq>14150000</startFreq>
        <lastSelectedFreq>14144800</lastSelectedFreq>
        <volume>1.247</volume>
        <filterWidth>2700</filterWidth>
        <!-- USB:0, LSB:1, AM:2, nFM:3 -->
        <modulation>0</modulation>
        <enableFrequencyShift>0</enableFrequencyShift>
        <frequencyShift>100000000</frequencyShift>
        <Agc>
            <threshold>0.060000001220032573</threshold>
            <atackSpeedMs>0.21000000298023225</atackSpeedMs>
            <holdingTimeMs>800</holdingTimeMs>
            <releaseSpeed>2.000000454718248e-05</releaseSpeed>
        </Agc>
    </Receiver>
    <Waterfall>
        <min>-151.11284</min>
        <max>-76.237366</max>
    </Waterfall>
    <Spectre>
        <ratio>-48.691536</ratio>
        <min>-160.23422</min>
        <speed>2</speed>
        <speed2>7</speed2>
        <!-- Must be a power of 2. The total will be fftLen = fftLen * 1024 -->
        <fftLen>131072</fftLen>
        <startBin>31817</startBin>
        <stopBin>34340</stopBin>
        <removeDCBias>1</removeDCBias>
        <style>2</style>
        <contourShowsPower>1</contourShowsPower>
        <bottomCoeff>0.912</bottomCoeff>
        <topCoeff>1.086</topCoeff>
        <hangAndDecay>1</hangAndDecay>
        <decaySpeed>0.15700001</decaySpeed>
        <decaySpeedDelta>1.444</decaySpeedDelta>
        <smoothingDepth>1</smoothingDepth>
    </Spectre>
    <ColorTheme>
        <spectreFillColor>4288619046</spectreFillColor>
        <spectreProfileColor>4291151301</spectreProfileColor>
        <mainBGColor>4279306760</mainBGColor>
        <windowsBGColor>4283371548</windowsBGColor>
        <windowsTitleBGColor>4284887578</windowsTitleBGColor>
        <receiveRegionColor>1647883700</receiveRegionColor>
    </ColorTheme>
</Config>
